<div class="container" style = "background-color: rgb(106, 227, 116)">

<h1>Annotations</h1>
<div class="close-btn2">
    ×
</div>


        
<div class="row">
  <div class="col-9">
        <%# <%= form_with(model: @picture, local: true)  :html => { multipart: true } do |f| %> 
        <%= form_with model: @picture, url: "/pictures/#{@picture.id}", method: :patch do |f| %>
            
          
            <div class="form-row" id="append-item1">
                <div class="form-row" id="removerow2">
                    <div class="form-group right-margin">
                        <%= f.label :key %>
                        <%= f.text_field :key, multiple: true%>
                    </div>
                    <div class="form-group right-margin">
                        <%= f.label :value %>
                        <%= f.text_field :value, multiple: true %>
                    </div>
                    <div class="form-group right-margin">
                        <%= f.button :Remove,id: "remove2", class: "btn btn-secondary"%>
                    </div>
                </div>
            </div>

            <%if @picture.annotations %>
                <div class="form-row" id="dynamic">
                    <% @picture.annotations.each do |i|%>
                            <div class="form-row" id="removerow1">
                            
                                <div class="form-group right-margin">
                                    <%= f.label :key %>
                                    <%= f.text_field :key, value: "#{i.key}", multiple: true%>
                                </div>
                                <div class="form-group right-margin">
                                    <%= f.label :value %>
                                    <%= f.text_field :value, value: "#{i.value}",multiple: true %>
                                </div>
                                <div class="form-group right-margin">
                                    <%= f.button :Remove,id: "remove1", class: "btn btn-secondary"%>
                                </div>
                            </div>
                    <% end %>
                </div>
                <div class="form-group right-margin">
                    <%= f.button :add, :type => 'button', class: "btn btn-success add"%> 
                </div>
            
                
            <% end %>  
            
            <%= f.submit 'upload', :class => "btn btn-success"%>
            <input id="amount" type = "number"  value = "<%=@picture.annotations.count%>"/>
        <% end %>
    </div>
</div>
    </div>    
                
        